### Testing scraper with Amsterdam

In [1]:
import os
os.chdir("..")

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
import json
from scraper.scrape import API, URL

In [4]:
URL

'https://www.numbeo.com/cost-of-living/'

In [5]:
api = API(URL, "Netherlands")

In [7]:
amsterdam = api.get_single_city("Amsterdam")

In [12]:
print(json.dumps(amsterdam, indent=2))

{
  "\n\nRestaurants": [
    [
      "Meal, Inexpensive Restaurant ",
      " 16.00\u00a0\u20ac",
      "\n\n11.00-30.00"
    ],
    [
      "Meal for 2 People, Mid-range Restaurant, Three-course ",
      " 70.00\u00a0\u20ac",
      "\n\n50.00-90.00"
    ],
    [
      "McMeal at McDonalds (or Equivalent Combo Meal) ",
      " 9.00\u00a0\u20ac",
      "\n\n8.00-10.00"
    ],
    [
      "Domestic Beer (0.5 liter draught) ",
      " 5.00\u00a0\u20ac",
      "\n\n4.00-8.00"
    ],
    [
      "Imported Beer (0.33 liter bottle) ",
      " 4.50\u00a0\u20ac",
      "\n\n3.10-6.00"
    ],
    [
      "Cappuccino (regular) ",
      " 3.46\u00a0\u20ac",
      "\n\n2.00-5.00"
    ],
    [
      "Coke/Pepsi (0.33 liter bottle) ",
      " 2.67\u00a0\u20ac",
      "\n\n2.00-4.00"
    ],
    [
      "Water (0.33 liter bottle)  ",
      " 2.29\u00a0\u20ac",
      "\n\n2.00-3.00"
    ]
  ],
  "\n\nMarkets": [
    [
      "Milk (regular), (1 liter) ",
      " 1.06\u00a0\u20ac",
      "\n\n0.90-1.49"
    ],
    [
      "Loaf of Fresh White Bread (500g) ",
      " 1.72\u00a0\u20ac",
      "\n\n0.99-3.60"
    ],
    [
      "Rice (white), (1kg) ",
      " 1.89\u00a0\u20ac",
      "\n\n1.00-3.80"
    ],
    [
      "Eggs (regular) (12) ",
      " 2.44\u00a0\u20ac",
      "\n\n1.63-4.20"
    ],
    [
      "Local Cheese (1kg) ",
      " 10.61\u00a0\u20ac",
      "\n\n6.50-14.00"
    ],
    [
      "Chicken Fillets (1kg) ",
      " 7.93\u00a0\u20ac",
      "\n\n5.00-12.00"
    ],
    [
      "Beef Round (1kg) (or Equivalent Back Leg Red Meat) ",
      " 19.33\u00a0\u20ac",
      "\n\n6.99-27.49"
    ],
    [
      "Apples (1kg) ",
      " 2.75\u00a0\u20ac",
      "\n\n1.50-3.00"
    ],
    [
      "Banana (1kg) ",
      " 1.46\u00a0\u20ac",
      "\n\n1.10-2.90"
    ],
    [
      "Oranges (1kg) ",
      " 1.74\u00a0\u20ac",
      "\n\n1.30-3.00"
    ],
    [
      "Tomato (1kg) ",
      " 2.35\u00a0\u20ac",
      "\n\n1.50-3.50"
    ],
    [
      "Potato (1kg) ",
      " 1.35\u00a0\u20ac",
      "\n\n0.79-2.40"
    ],
    [
      "Onion (1kg) ",
      " 1.10\u00a0\u20ac",
      "\n\n0.80-2.00"
    ],
    [
      "Lettuce (1 head) ",
      " 0.86\u00a0\u20ac",
      "\n\n0.75-1.00"
    ],
    [
      "Water (1.5 liter bottle) ",
      " 0.79\u00a0\u20ac",
      "\n\n0.56-1.50"
    ],
    [
      "Bottle of Wine (Mid-Range) ",
      " 5.99\u00a0\u20ac",
      "\n\n5.00-8.00"
    ],
    [
      "Domestic Beer (0.5 liter bottle) ",
      " 1.18\u00a0\u20ac",
      "\n\n0.76-2.00"
    ],
    [
      "Imported Beer (0.33 liter bottle) ",
      " 1.85\u00a0\u20ac",
      "\n\n1.00-3.00"
    ],
    [
      "Cigarettes 20 Pack (Marlboro) ",
      " 8.00\u00a0\u20ac",
      "\n\n8.00-8.40"
    ]
  ],
  "\n\nTransportation": [
    [
      "One-way Ticket (Local Transport) ",
      " 3.20\u00a0\u20ac",
      "\n\n2.50-5.00"
    ],
    [
      "Monthly Pass (Regular Price) ",
      " 97.50\u00a0\u20ac",
      "\n\n86.96-100.00"
    ],
    [
      "Taxi Start (Normal Tariff) ",
      " 5.00\u00a0\u20ac",
      "\n\n3.00-7.50"
    ],
    [
      "Taxi 1km (Normal Tariff) ",
      " 2.40\u00a0\u20ac",
      "\n\n1.95-3.11"
    ],
    [
      "Taxi 1hour Waiting (Normal Tariff) ",
      " 45.00\u00a0\u20ac",
      "\n\n40.00-49.00"
    ],
    [
      "Gasoline (1 liter) ",
      " 1.80\u00a0\u20ac",
      "\n\n1.56-2.00"
    ],
    [
      "Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ",
      " 26,989.50\u00a0\u20ac",
      "\n\n25,000.00-29,840.00"
    ],
    [
      "Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ",
      " 28,924.29\u00a0\u20ac",
      "\n\n27,000.00-29,980.00"
    ]
  ],
  "\n\nUtilities (Monthly)": [
    [
      "Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ",
      " 168.05\u00a0\u20ac",
      "\n\n107.37-216.36"
    ],
    [
      "1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ",
      " 0.13\u00a0\u20ac",
      "\n\n0.05-0.19"
    ],
    [
      "Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ",
      " 47.16\u00a0\u20ac",
      "\n\n35.00-67.00"
    ]
  ],
  "\n\nSports And Leisure": [
    [
      "Fitness Club, Monthly Fee for 1 Adult ",
      " 43.09\u00a0\u20ac",
      "\n\n20.00-70.00"
    ],
    [
      "Tennis Court Rent (1 Hour on Weekend) ",
      " 29.71\u00a0\u20ac",
      "\n\n20.00-40.00"
    ],
    [
      "Cinema, International Release, 1 Seat ",
      " 12.00\u00a0\u20ac",
      "\n\n10.00-15.00"
    ]
  ],
  "\n\nChildcare": [
    [
      "Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ",
      " 1,892.73\u00a0\u20ac",
      "\n\n1,500.00-2,200.00"
    ],
    [
      "International Primary School, Yearly for 1 Child ",
      " 14,511.80\u00a0\u20ac",
      "\n\n8,500.00-25,000.00"
    ]
  ],
  "\n\nClothing And Shoes": [
    [
      "1 Pair of Jeans (Levis 501 Or Similar) ",
      " 90.85\u00a0\u20ac",
      "\n\n50.00-120.00"
    ],
    [
      "1 Summer Dress in a Chain Store (Zara, H&M, ...) ",
      " 41.24\u00a0\u20ac",
      "\n\n20.00-50.00"
    ],
    [
      "1 Pair of Nike Running Shoes (Mid-Range) ",
      " 94.73\u00a0\u20ac",
      "\n\n60.00-130.00"
    ],
    [
      "1 Pair of Men Leather Business Shoes ",
      " 129.52\u00a0\u20ac",
      "\n\n80.00-200.00"
    ]
  ],
  "\n\nRent Per Month": [
    [
      "Apartment (1 bedroom) in City Centre ",
      " 1,536.90\u00a0\u20ac",
      "\n\n1,300.00-1,900.00"
    ],
    [
      "Apartment (1 bedroom) Outside of Centre ",
      " 1,230.00\u00a0\u20ac",
      "\n\n1,000.00-1,500.00"
    ],
    [
      "Apartment (3 bedrooms) in City Centre ",
      " 2,622.11\u00a0\u20ac",
      "\n\n2,100.00-4,000.00"
    ],
    [
      "Apartment (3 bedrooms) Outside of Centre ",
      " 1,975.14\u00a0\u20ac",
      "\n\n1,660.00-2,500.00"
    ]
  ],
  "\n\nBuy Apartment Price": [
    [
      "Price per Square Meter to Buy Apartment in City Centre ",
      " 8,010.90\u00a0\u20ac",
      "\n\n7,000.00-10,000.00"
    ],
    [
      "Price per Square Meter to Buy Apartment Outside of Centre ",
      " 5,625.64\u00a0\u20ac",
      "\n\n4,500.00-7,500.00"
    ]
  ],
  "\n\nSalaries And Financing": [
    [
      "Average Monthly Net Salary (After Tax) ",
      " 3,235.51\u00a0\u20ac",
      ""
    ],
    [
      "Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ",
      " 1.86",
      "\n\n1.50-2.20"
    ]
  ]
}

In [13]:
amsterdam["\n\nRent Per Month"]

[['Apartment (1 bedroom) in City Centre ',
  ' 1,536.90\xa0€',
  '\n\n1,300.00-1,900.00'],
 ['Apartment (1 bedroom) Outside of Centre ',
  ' 1,230.00\xa0€',
  '\n\n1,000.00-1,500.00'],
 ['Apartment (3 bedrooms) in City Centre ',
  ' 2,622.11\xa0€',
  '\n\n2,100.00-4,000.00'],
 ['Apartment (3 bedrooms) Outside of Centre ',
  ' 1,975.14\xa0€',
  '\n\n1,660.00-2,500.00']]

### Processing keys

In [14]:
print([key for key in amsterdam])

['\n\nRestaurants', '\n\nMarkets', '\n\nTransportation', '\n\nUtilities (Monthly)', '\n\nSports And Leisure', '\n\nChildcare', '\n\nClothing And Shoes', '\n\nRent Per Month', '\n\nBuy Apartment Price', '\n\nSalaries And Financing']

In [24]:
ams_clean = {elem[2:]:amsterdam[elem] for elem in list(amsterdam.keys())}
ams_clean.keys()

dict_keys(['Restaurants', 'Markets', 'Transportation', 'Utilities (Monthly)', 'Sports And Leisure', 'Childcare', 'Clothing And Shoes', 'Rent Per Month', 'Buy Apartment Price', 'Salaries And Financing'])

#### Processing rent

In [ ]:
rent_idx = ('Rent Per Month', 0, 1) # 'Apartment (1 bedroom) in City Centre' - mean value

In [42]:
rent = ams_clean[rent_idx[0]][rent_idx[1]][rent_idx[2]]
rent

' 1,536.90\xa0€'

In [45]:
rent = rent.replace(u'\xa0', u'').strip()[:-1]
rent

'1,536.90'

In [47]:
float(rent.replace(',', ''))

1536.9

### Generalizing

In [49]:
def get_formatted_price(
    city_info: dict, 
    group_key: str = "", 
    price_idx: tuple = (0, 1)):
    
    price_str = city_info[group_key][price_idx[0]][price_idx[1]]
    price_str = price_str.replace(u'\xa0', u'').strip()[:-1]
    return float(price_str.replace(',', ''))

In [50]:
get_formatted_price(ams_clean, "Rent Per Month", (0, 1))

1536.9

In [52]:
(get_formatted_price(ams_clean, "Restaurants", (0, 1)), 
 get_formatted_price(ams_clean, "Restaurants", (1, 1)),
 get_formatted_price(ams_clean, "Restaurants", (2, 1)),)

(16.0, 70.0, 9.0)

In [55]:
[get_formatted_price(ams_clean, "Restaurants", (i, 1)) for i in range(len(ams_clean["Restaurants"]))]

[16.0, 70.0, 9.0, 5.0, 4.5, 3.46, 2.67, 2.29]

### Sum of full categories

In [61]:
features_to_sum = ('Restaurants', 'Markets', 'Utilities (Monthly)')
rent_feature = 'Rent Per Month'

In [62]:
expenses = {f: sum([get_formatted_price(ams_clean, f, (i, 1)) for i in range(len(ams_clean[f]))]) 
               for f in features_to_sum}
expenses

{'Restaurants': 112.92, 'Markets': 74.4, 'Utilities (Monthly)': 215.34}

In [63]:
expenses[rent_feature] = get_formatted_price(ams_clean, rent_feature, (0, 1))
expenses

{'Restaurants': 112.92,
 'Markets': 74.4,
 'Utilities (Monthly)': 215.34,
 'Rent Per Month': 1536.9}

In [65]:
sum(expenses.values())

1939.56